.home {
  .hero-banner {
    background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner.png")
      no-repeat center / cover;
    color: $title;
    height: 840px;
    .title {
      font-size: 64px;
    }
    .subtitle {
      font-size: 36px;
    }
    .container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .text-wrap {
      @include txt-align(right);
    }
    @include pad {
      .title {
        font-size: 48px;
      }
      .subtitle {
        font-size: 20px;
      }
    }
    @include mobile {
      height: 394px;
      .title {
        font-size: 36px;
      }
      .subtitle {
        font-size: 16px;
      }
    }
    @include mobile-540 {
      .title {
        font-size: 32px;
      }
    }
  }
  .intro {
    background-color: $primary-light;
    @include txt-align(center);
    h2,h3{
      color:$title;
    }
    h2{
      font-size: 48px;
      margin-bottom: 60px;
    }
    h3{
      font-size: 24px;
    }
    .item-wrap {
      display: flex;
      img {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
      }
      .item {
        width: 25%;
        margin-left: 15px;
        margin-right: 15px;
      }
    }
  }
  @include pad{
    
  }
}
