@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:wght@400;700;900&display=swap");
a {
  text-decoration: none;
  display: inline-block;
}
img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
button {
  border: none;
  background-color: transparent;
  &:focus {
    outline: transparent;
  }
}
.text-center {
  text-align: center;
}
body {
  font-family: Roboto, "Noto Sans TC", -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei",
    "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
ul {
  list-style: none;
}
.section-space {
  padding-top: 64px;
  padding-bottom: 80px;
  @include pad {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @include mobile {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
